Port 22
HostKey /etc/ssh/keys/ssh_host_rsa_key
HostKey /etc/ssh/keys/ssh_host_ecdsa_key
HostKey /etc/ssh/keys/ssh_host_ed25519_key
AllowUsers git
PasswordAuthentication no
AuthenticationMethods publickey
Match User git
  PasswordAuthentication no
  AuthenticationMethods publickey
  AcceptEnv GIT_PROTOCOL
  AuthorizedKeysFile none
  AuthorizedKeysCommand /usr/local/bin/repo-access-keys "%t" "%k"
  AuthorizedKeysCommandUser authorized-keys
  AllowAgentForwarding no
  AllowStreamLocalForwarding no
  AllowTcpForwarding no
  GatewayPorts no
  X11Forwarding no
